.search_bar {
  background-color: #dddddd;
  width: 500px;
  border: none;
  outline: none;
  border-radius: 10px !important;
  padding: 10px 6px;
}
.pagination button {
  background-color:#9f9ce2;
  margin: 0px 5px;
  border: none;
  border: #ffffff;
  border-radius:5px;
  color: #ffffff;

}
.filteredbtns{
  background-color: #9f9ce2;
  border: none;
  margin: 10px 5px;
  border-radius: 15px;
  padding: 10px 20px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
@media (max-width:500px) {
  .search_bar{
    width: 300px;
  }
}